body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
  display: flex;
  gap: 12px;
  max-width: 567px;
  margin: 0 auto;
  /* align-items: center; */
  justify-content: space-between;
}

/* .form_ */


.result {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 48px auto 0;
  max-width: 944px;
  row-gap: 58px;
}

.result_sortArray {
  align-items: flex-end;
  max-width: 100%;
  height: 348px;
}

.input-width {
  min-width: 204px;
  max-width: 204px;
}

.button-width {
  width: 100%;
}